.floating-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 56px;
    height: 56px; 
    border-radius: 50%; 
    background-color: rgb(206, 49, 49); 
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
    font-size: 23px;
    text-decoration: none; 
    outline: none; 
    border: none; 
  }